<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("../partials/head")%>
    <link rel="stylesheet" href="/css/allProducts.css">
    <title>WoodStack</title>
</head>
<body>

    <%-include('../partials/header')%>
    
</body>
<main>
    <div class="first-section">
        <% products.forEach(product => { %>
           <a href="/products/<%= product.product_id %>">
            <div class="img-producto">
                <img class="img" src="<%= product.img_url %>" alt="banner">
            </div>
        </a>
            <!-- <p> <%= product.id %> </p> -->
           <p> <%= product.name %></p>
           <p> * * * * * </p>
           <p> <%= product.description %></p>
           <!-- <p> <%= product.category %></p> -->
           <p> <%= product.color_id %></p>
           <p> $ <%= product.price %></p>
           <p> * * * * * </p>

            <% }) %>

    </div>
    
</main>

<%-include('../partials/footer')%>

</html>