<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("../partials/head")%>
    <link rel="stylesheet" href="css/index.css">
    <title>WoodStack</title>
</head>
<body>

    <%-include('../partials/header')%>

<main>
    <div class="first-banner">
        <article class="banner-text">
            <p class="banner-title">Escritorios de alta gama</p>
            <p class="banner-subtitle">Disponibles en roble y topinambur</p>
            <span><a href="#" class="banner-link">MÁS INFO</a></span>
        </article>
    </div>
    <div class="section-two">
        <article>
            <p class="index-title">Estilo que inspira</p>
            <p class="index-subtitle">Armá tu ambiente de trabajo soñado y desarrollá tu potencial</p>
            <a href="#" class="banner-link">EMPEZÁ</a>
        </article>
        <div class="product-container">
            <div>   
                <img class="product-img" alt="Escritorios" src="/images/desktop-img.webp">
                <p>Escritorios</p>
                <a href="/products">MÁS INFO</a>
            </div>
            <div>   
                <img class="product-img" alt="Soportes Laptop" src="/images/stands-img.webp">
                <p>Soportes Laptop</p>
                <a href="/products">MÁS INFO</a>
            </div>     
        </div>
    </div>
    <div>
        <div>
            <p class="index-title">Productos destacados</p>
            <p class="index-subtitle">Explorá las últimas tendencias en espacios de trabajo</p>
        </div>
    </div>
    <div>
          
    <div>
        <div class="row row-cols-1 row-cols-md-5 mb-5 text-center card-container">
            <% product.forEach(product => { %>
                <div class="card product-card">
                    <img src="/images/products/<%= product.img_url %>" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title"><%= product.name %></h5>
                    <p class="card-text">$<%= product.price %></p>
                    <a href="#" class="btn btn-outline-secondary">Comprar</a>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>        


    </div>
    <div>
        <div class="second-banner">
            <article class="second-banner-text">
                <p class="banner-title">Inspiración Home Office</p>
                <p class="banner-subtitle">Trabajar desde casa puede ser un desafío...mirá algunas soluciones creativas para que pase a ser un placer</p>
                <span><a href="#" class="banner-link">MÁS INFO</a></span>
            </article>
        </div>             
    </div>
    <div>
        <p class="index-title section-three">Acerca de nosotros</p>
        <p class="index-subtitle section-three"><a href="">Conocé nuestra historia</a></p>
    </div>
</main>

    <%-include('../partials/footer')%>

</body>
</html>