<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("../partials/head")%>
    <link rel="stylesheet" href="/css/productDetail.css">
    <title>WS ProductDetail</title>

</head>
<body>

    <%-include('../partials/header')%>
    
<main>
    <div class="row"></div>
    <div class="prod-container position-relative mb-5 row">
        
        <div class="img-producto container-fluid col">
            <img class="img" src="/images/products/<%= product.img_url %>" alt="banner">
        </div>

        <div class="descripcion-producto col col-xl-5">
            <h2 class="fs-1"><%= product.name %></h2>
            <h4 class="fs-2"><%= product.color %></h4>
            <h4 class="precio fs-4">$ <%= product.price %></h4>
        
        
        <div class="cont-boton">
            <button class="btn btn-outline-dark position-relative" type="añadirCarrito" value="añadirCarrito">
                <a class="" href="/products/product-cart">Comprar</a>
            </button>
        </div>
            <!-- SI ESTAS LOGUADO CON EL ADMIN VES ESTO SI NO, NO  -->

            <% if (locals.isLogged && locals.userLogged.is_admin === true) { %>   

                <p>PERMISOS DE ADMINISTRADOR CONCEDIDOS</p> 

            <button class="btn btn-outline-dark position-relative" type="añadirCarrito" value="añadirCarrito">
                <a class="" href="/products/edit/<%= product.product_id %>">Editar</a>
            </button>            
            <form action="/products/delete/<%= product.product_id%>" method="POST" style="display: inline-flex">
            <button class="btn btn-outline-dark position-relative" type="añadirCarrito" value="añadirCarrito">
                <a href="/products/delete/<%= product.product_id %>">Eliminar</a>
                </button>        
                <% } %>
                
            </form>    
        </div>
    </div>
    <div class="detalle mb-5">
        <h2>Diferencie su espacio de trabajo</h2>
        <p>* <%= product.description %> *</p>
</main>

<%-include('../partials/footer')%>

</body>
</html>