<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@300&family=Open+Sans:wght@300;600;700&family=Roboto:wght@300;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://kit.fontawesome.com/a7b565572d.js" crossorigin="anonymous"></script>
    <title>WS ProductDetail</title>
</head>
<body>
    <%-include('../partials/header')%>
<main>
    <div class="img-producto">
        <img class="img" src="/images/<%= product.image %>" alt="banner">
    </div>

    <div class="descripcion-producto">
        <h2><%= product.name %></h2>
        <h4><%= product.color %></h4>
        <h4 class="precio">$ <%= product.price %></h4>
    </div>
    <div class="cont-boton">
    <button class="boton" type="añadirCarrito" value="añadirCarrito"><a class="botonComprar" href="../product-cart">Comprar</a>
        </button>            
    </div>
    <div class="detalle">
        <h2>Diferencie su espacio de trabajo</h2>
        <p><%= product.description %></p>
</main>

<%-include('../partials/footer')%>

</body>
</html>