<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head')%>
    <link rel="stylesheet" href="/css/creacionProductos.css">
    <title>Creacion Productos</title>
</head>
<body>
<header>
    <%-include('../partials/header')%>
</header>
<main>
        <div class="prodCreate">
            <div>
                <div class="pageTitle">
                    <h2>Formulario de creación de productos</h2>
                </div>
            </div>
            <div>


                <form action="/products/create" method="POST" enctype="multipart/form-data" class="formulario">
                    <section class="izquierda">

                        <div class="errores">
                            <ul></ul>
                        </div>
                        
                    <div class="line">
                        <label for="name" class="form-label name">Nombre del producto:</label>
                        <input 
                        type="text" 
                        id="name" 
                        name="name" 
                        placeholder="Ej: Mouse Pad" 
                        class="form-input <%= locals.errors && errors.name ? 'is-invalid' : null %>"
                        value="<%= locals.oldData ? oldData.name : null %>"
                        >
                    </div>
                    <% if (locals.errors && errors.name) { %>
                        <div class="text-danger">
                            <%= errors.name.msg %> 
                        </div>
                    <% } %>
                    <span class="span-name"></span>
                    <div class="line">
                        <label for="description" class="form-label description">Descipción:</label>
                        <textarea name="description" id="description" placeholder="Ej: Escritorio de caoba negro" class="form-input"></textarea>
                        <span class="description"></span>
                    </div>
                    <div class="line">
                        <label for="color" class="form-label">Colores:</label>
                        <select name="color" id="color" class="form-input">
                            <option value="Negro">Negro</option>
                            <option value="Blanco">Blanco</option>
                        </select>
                    </div>
                    <div class="line">
                        <label for="price" class="form-label">Precio del producto:</label>
                        <input type="number" id="price" name="price" placeholder="$ 2,500.00" class="form-input">
                        <span class="span-price"></span>
                    </div>
                    <div class="line">
                        <label for="category" class="form-label">Categoría:</label>
                        <select name="category" id="category" class="form-input">
                            <option value="">Elegí</option>
                            <option value="Escritorio">Escritorio</option>
                            <option value="Accesorios">Accesorios</option>
                        </select>
                    </div>
                
            </div>
                </section>
                <section class="derecha">
                    <label for="image" class="form-label btn">Upload Image</label>
                    <input type="file" name="image" id="image" class="btn">
                    <div class="visorArchivo">
                    </div>
                </section>
                <div>
                    <button type="submit" class="btn">Guardar producto</button>
                </div>
            </form>
        </div>

    </main>

<footer>
    <%-include('../partials/footer')%>
</footer>
<script src="/js/createValidationFront.js"></script>

<!-- Validacion y Preview de Img - No funciona -->
<!-- <script src="/js/imgValitationAndPrev.js"></script> -->

</body>
</html>