<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("../partials/head")%>
    <link rel="stylesheet" href="/css/productDetail.css">
    <title>WS ProductDetail</title>

</head>
<body>

    <%-include('../partials/header')%>
    
<main>
    <div class="img-producto">
        <img class="img" src="/images/products/<%= product.image %>" alt="banner">
    </div>

    <div class="descripcion-producto">
        <h2><%= product.name %></h2>
        <h4><%= product.color %></h4>
        <h4 class="precio">$ <%= product.price %></h4>
    </div>
    <div class="cont-boton">
    <button class="boton" type="añadirCarrito" value="añadirCarrito"><a class="botonComprar" href="../product-cart">Comprar</a>
        </button>
        <p> * * * * * </p>

        <!-- SI ESTAS LOGUADO CON EL ADMIN VES ESTO SI NO, NO  -->

        <% if (locals.isLogged && locals.userLogged.is_admin === true) { %>   
            <p>PODES EDITAR <%= locals.userLogged.is_admin %> </p> 
            <p> * * * * * </p>
    <button class="boton" type="añadirCarrito" value="añadirCarrito"><a class="botonComprar" href="../products/edit/<%= product.id %>">Editar</a>
        </button>            
        <p> * * * * * </p>
    <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
    <button class="boton" type="añadirCarrito" value="añadirCarrito"><a class="botonComprar" href="../product-to-edit">Eliminar</a>
        </button>        
        <% } %>
    </form>    
    </div>
    <div class="detalle">
        <h2>Diferencie su espacio de trabajo</h2>
        <p>* <%= product.description %> *</p>
</main>

<%-include('../partials/footer')%>

</body>
</html>