<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head')%>
    <link rel="stylesheet" href="css/login.css">
    <title>Woodstack | Registrarse</title>
    <script src="/js/registerValidationFront.js"></script>
</head>
<body>
  <%-include('../partials/header')%>
    <main>

    <div class="first-banner"></div>
        <div class="tarjeta">
          <!-- <% if (locals.errors) { %>
            <% for ( let oneError in errors ) { %>
              <p><%= errors[oneError].msg %> </p>
            <% } %>
          <% } %> -->
            <h1>Registrarse</h1>
            <!--  
            AGREGAR EL CAMPO DE IMAGEN DE USUARIO TABIEN !-->
            <form method="post" action="/register" class="formRegister">
        
              <div class="campo">
								<input 
									type="text" 
									name="email" 
									class="form-control email-input <%= locals.errors && errors.email ? 'is-invalid' : null %>"
									value="<%= locals.oldData ? oldData.email : null %>"
								>
								<% if (locals.errors && errors.email) { %>
									<div class="text-danger">
										<%= errors.email.msg %> 
									</div>
								<% } %>
                <span class="span-email"></span>
                <label>Email</label>
              </div>
              <div class="campo">
								<input 
									type="text" 
									name="first_name" 
									class="form-control nombre-input <%= locals.errors && errors.first_name ? 'is-invalid' : null %>"
									value="<%= locals.oldData ? oldData.first_name : null %>"
								>
								<% if (locals.errors && errors.first_name) { %>
									<div class="text-danger">
										<%= errors.first_name.msg %> 
									</div>
								<% } %>
                <span></span>
                <label>Nombre</label>
              </div>

              <div class="campo">
								<input 
									type="text" 
									name="last_name" 
									class="form-control apellido-input <%= locals.errors && errors.last_name ? 'is-invalid' : null %>"
									value="<%= locals.oldData ? oldData.last_name : null %>"
								>
								<% if (locals.errors && errors.last_name) { %>
									<div class="text-danger">
										<%= errors.last_name.msg %> 
									</div>
								<% } %>
                <span></span>
                <label>Apellido</label>
              </div>

              <div class="campo">
								<input 
									type="password" 
									name="password" 
									class="form-control apellido-input <%= locals.errors && errors.password ? 'is-invalid' : null %>"
									value="<%= locals.oldData ? oldData.password : null %>">
								<% if (locals.errors && errors.password) { %>
									<div class="text-danger">
										<%= errors.password.msg %> 
									</div>
								<% } %>
                <span class="span-email" ></span>
                <label>Contraseña</label>
              </div>

              <!-- YA ESTA EL MIDDLEWARE PARA CARGAR FOTO PERFIL USUARIO  -->

              <!-- <div class="campo">
                <input type="file" id="avatar" name="avatar">
                <span></span>
                <label>Imagen de Perfil</label>
              </div>
              <% if (locals.errors && errors.avatar) { %>
                <div class="text-danger">
                <%= errors.avatar.msg %>
              </div>
                <% } %> -->

              
              <input type="submit" value="Registrarse">
              
            </form>
          </div>
    </main>
    <%-include('../partials/footer')%>
    <!-- <script src="/js/registerValidationFront.js"></script> -->
</body>
</html>