<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("../partials/head")%>
    <link rel="stylesheet" href="css/index.css">
    <title>WoodStack</title>
</head>
<body>

    <%-include('../partials/header')%>

<main>
    <div class="first-banner">
        <article class="banner-text">
            <h1 class="banner-title">Hola <%= user.first_name %></h1>
            <p class="banner-subtitle"><%= user.email %></p>
            <p class="banner-subtitle"></p>
            <p class="banner-subtitle"></p>
            <p class="banner-subtitle">Un gusto encontrarte por acá.</p>
            <!-- <span><a href="/" class="banner-link">INICIO</a></span> -->
        </article>
    </div>>
</main>

    <%-include('../partials/footer')%>

</body>
</html>